<% if @post.status == "done" %>
       <center>
      <h1><b>INVOICE</b></h1><br></center>
      <h5>
      <span style="float:right; padding-right: 30%;">from:</span>
    </h5><br>
      <h6>
      <span style="float:right; padding-right: 25%;">SCS,</span><br>
      
      <span style="float:right; padding-right: 25%;">kakinada,</span><br>
      
      <span style="float:right; padding-right: 25%;">andhra pradesh.</span><br>
      </h6><br>
        <h5>
      <span style="float:left; padding-left: 25%;">invoice for:</span>
    </h5><br>
      <span style="float:left; padding-left:  30%;">proofreading</span>
      <span style="float:right; padding-right: 50%;">invoice_id:<%= @post.ref_id %></span>
      <span style="float:left; padding-left:  30%;"><%= @admin.email %></span><br>
       <span id="date" style="float:right; padding-right: 50%;">date:</span>
      <span style="float:left; padding-left:  30%;">proof_reading_app</span><br>
      </h6><br><br>

      <center>
      <table class= "myTable" style="width: 50%">
      <tr>
        <th>description</th>
        <th>email</th>
        <th>post id</th>
        <th>coupon</th>
        <th>coupon benifit</th>
        <th>amount</th>
      </tr>
      <tr>
        <td>proof reading for post</td>
       <td><%= current_user.email %></td>
       <td><%= @post.id %></td>
       <td><%= @cupon.coupon_name rescue 0 %></td>
       <% @total = ((@statement1.amount + @statement2.amount) * 100) / @cupon.percentage %>
       <%= @total %>
       <td><%= @total - (@statement1.amount + @statement2.amount) rescue 0 %></td>
       <td><%= @statement1.amount + @statement2.amount %>
      </tr>
   </table> 
   </center><br>
   <style>
.myTable { 
  width: 100%;
  text-align: left;
  background-color: white;
  border-collapse: collapse; 
  }
.myTable th { 
  background-color: lightgreen;
  color: salmon; 
  }
.myTable td, 
.myTable th { 
  padding: 10px;
  border: 1px solid black; 
  }
  tr:nth-child(even) {background-color: #F0ffff;}
</style>
<script>
  n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

</script>   
 <% end %>